@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-ms-scrollbar {
  display: none;
}

.css-exkjcx,
.css-187mznn-MuiSlider-root {
  color: #e3256c !important;
}
